body {
    background-color: #f8f8f8;
    font-family: SanFrancisco, Verdana;
}

.menu li {
    font-style: oblique;
    font-size: 20px;
    list-style-type: none;
    margin-left: 0;

}

.menu li a {
    color: #54bfff;
}

h2, h3, h4 {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

p.short_description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

p.detail_description {
    color: #484343;
    font-size: 16px;

    font-weight: 400;
    line-height: 24px;
    text-align: left;
}