body {
    background-color: #f8f8f8;
    font-family: Verdana;
}

/*стиль меню*/
.menu li {
    width: 100px;
    height: 30px;
    border: 1px solid #40678a;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    list-style-type: none;
    display: inline;
}

/*цвет текста ссылок меню*/
.menu li a {
    color: #54bfff;
    text-decoration: none;
}

/*стили всех заголовков-описаний на странице товара*/
h3.description_header {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

/*стиль текста краткого описания*/
p.short_description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

/*стиль текста подробного описание*/
p.detail_description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

/* стиль характеристик товара*/
.description_header + ul li {
    color: #2e353d;
    font-size: 14px;
    font-style: italic;
    list-style-type: square;
}

form fieldset input[type=text] {
    /*например*/
}

.contact_form {
    width: 300px;
    color: orangered;
}

.detail_img {
    outline: 1px solid darkred;
}

footer {
    text-align: center;
}